<div class="main_container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <!-- <a class="navbar-brand comp" href="#"><h1>POS</h1></a>  -->
  <a class="navbar-brand comp" href="#">Science <br> Based <br> Nutrition</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarText">
    <ul class="navbar-nav mr-5">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link mr-1" [routerLink]="['sale']">
          <div class="nav-text">POS</div>
        </a>
      </li>
      <li class="nav-item mr-1" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['inventory']">
            <div class="nav-text">ADD ITEMS</div>
        </a>
      </li>
    </ul>
    <!-- <span class="navbar-text">
      Navbar text with an inline element
    </span> -->
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <footer>copyright @Dipesh Kadariya 2019</footer> -->
</div>
