<div class="container">
<div class="console">
  <div class="order-details">Order number:</div>
    <div class="list_item">
        <table class="table table-striped itemize">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Qty.</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sell_items">
                    <td>{{item.item}}</td>
                    <td>
                      <button class="btn quant" (click)="decrement(item.id)">-</button>
                       <span class="item_quant">{{item.quantity}}</span>
                      <button class="btn quant" (click)="increment(item.id)">+</button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.price*item.quantity}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="total_container">
        <div id="console-total">Total: {{total|currency}}</div><br>
        <div id="console-disc">Discount: 0.0 </div><br>
        <div id="console-tax">Tax:{{total*0.075|currency}} </div> 
        <div id="console-sub">Sub Total:{{total+ (total*0.075)|currency}}  </div>
      </div>
        <div class="order_btns">
            <button type="button" class="btn btn-success" (click)="placeOrder()">Pay order</button>
            <button type="button" class="btn btn-danger" (click)="cancelOrder()">Cancel Order</button>
    </div>
</div>
<div class="grid" >
    <div class="grid_box" *ngFor="let item of items" (click)="appendItem(item.id,item.name,item.price)">
            <span class="grid_title">{{item.name|uppercase}}</span> <br><span class="grid_price">{{item.price|currency}}</span><br>
            <span class="grid_quant">available : {{item.total_count}}</span>
    </div>
</div>
    
</div>
