.container {
  background-color: #00796b;
  height: 90vh;
  width: 90vw;
  overflow: hidden;
}

.grid_title {
  font-size: 1.3vw;
  color: #fff;
}

.grid_price {
  font-size: 1.2vw;
  color: rgb(224, 240, 179);
}

.grid_quant {
  color: #fdbc9c;
}
.grid {
  width: 50%;
  float: right;
  margin-top: 4vh;
  margin-right: -4vw;
  overflow-y: scroll;
  height: 92%;
}

.grid_box {
  width: 10vw;
  height: 7vw;
  padding: 1vh;
  background-color: #00897b;
  text-align: center;
  display: inline-block;
  border-radius: 0.5vh;
  margin: 0.5vh;
  vertical-align: middle;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.grid_box:active {
  background-color: #009688;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.console {
  display: inline-block;
  width: 50%;
  height: 80%;
  background-color: #fff;
  overflow: hidden;
  height: 87vh;
  color: #535353;
}
.list_item {
  height: 60%;
  overflow-y: scroll;
  margin-top: 1vh;
  color: #535353;
}

.itemize {
  /* max-height: 1px; */
  border-collapse: collapse;
  color: #535353;
}

.total_container {
  line-height: 2.4vh;
}
#console-total {
  float: right;
  font-size: 1.2vw;
  margin-right: 4vh;
}
#console-disc,
#console-tax {
  /* float: left; */
  font-size: 1vw;
  margin-left: 4vh;
}
#console-sub {
  float: right;
  font-size: 1.5vw;
  font-weight: bold;
  margin-right: 4vh;
}
.order_btns {
  display: block;
  margin-top: 5vh;
}
.btn-danger,
.btn-success {
  margin-right: 2vw;
  float: right;
  display: inline-block;
}
.quant {
  display: inline-block;
  border: 1px solid #00897b;
  /* background-color: #00897b; */
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2);
}

.order-details {
  font-size: 2vh;
  font-weight: bold;
  margin: 1vh 0vh 1vh 2vh;
  text-align: center;
}

.item_quant {
  margin-left: 2vh;
  margin-right: 2vh;
}

.table td,
th {
  text-align: center;
}

.err_msg{
  background-color: rgb(233, 8, 8,0.5);
  color: #000;
  text-align: center;
}
.success_msg{
  background-color: rgba(4, 245, 133, 0.5);
  color: #000;
  text-align: center;
}
#menu_title{
  font-size: 3.5vh;
  margin-left: 35%;
  font-weight: bold;
  color: rgb(195, 194, 194);
  text-decoration: underline;
}

.disc{
  width: 10%;
  display: inline-block;
}
#discount_label{
  margin-left: 5%;
}