<div class="container">
  <div class="add_instruct">Please complete the form to add item to inventory</div>
  <div class="add_form">
    <form #myForm="ngForm" (ngSubmit)="addItem()" name="add_item_form">
        <div class="form-group">
          <p>
          <label for="item_name">Item Name</label>
          <input type="text" name="item_name" ng-model="item_name" class="form-control" [(ngModel)]="item.name" d="item_name" placeholder="Name" name="item-name" required/>
          <span ng-show="add_item_form.item_name.$touched && myForm.myName.$invalid">The name is required.</span>
        </p>
        </div>
        <div class="form-group">
          <label for="item_cat">Categoty</label>
          <input type="text" class="form-control" [(ngModel)]="item.category" id="item_cat" placeholder="Grocery, Beauty, Home,..." name="category"/>
        </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="quant">Quantitiy</label>
          <input type="text" class="form-control" [(ngModel)]="item.total_count" id="quant" placeholder="total quantitiy" name="quantity"/>
        </div>
        <div class="form-group col-md-6">
          <label for="price">Unit Price</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="item.price"
            id="price"
            placeholder="price in $ E.g. 1.53"
            name="price"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        Add Item
      </button>
    </form>
  </div>
</div>
